[data-list-box] {
    position   : relative;
    min-width  : 200px;
    width      : max-content;
    align-self : flex-start;

    * { user-select : none; }
}

/* SAME AS .form-item > label /////////////////////////////////////////////// */
.list-box-label {
    position      : relative;
    display       : flex;
    flex          : 1 0 auto;
    align-self    : flex-start;
    margin-bottom : 4px;
    color         : var(--input-label-default);
    font-family   : var(--paragraph-font);
    order         : -1;
    flex-wrap     : wrap;
}

.list-box-input-wrapper {
    padding               : var(--input-padding) 8px;
    border-radius         : var(--input-border-radius-default);
    border                : var(--global-border-width) solid var(--input-border-default);
    background-color      : var(--list-box-bg-default);
    cursor                : pointer;
    font-family           : var(--paragraph-font);
    color                 : var(--input-text-default);
    position              : relative;
    width                 : 100%;
    display               : grid;
    grid-template-columns : 1fr 24px 24px;
    grid-template-areas   : "badgeWrapper clearAll chevrons";

    span.placeholder {
        line-height : 1;
        color       : var(--input-placeholder-default);
        opacity     : var(--input-placeholder-opacity);
    }

    p { color : var(--input-text-default) }

    .icon-wrapper {
        display         : flex;
        align-items     : center;
        justify-content : center;

        svg {
            width           : 16px;
            height          : 16px;
            fill            : none;
            stroke          : var(--select-chevron);
            stroke-width    : 2px;
            stroke-linecap  : round;
            stroke-linejoin : round;
        }
    }

    .icon-wrapper.clear-all { grid-area : clearAll; }
    .icon-wrapper.chevrons { grid-area : chevrons; }
}

.selected-option { line-height : 1; }

.list-box-search-wrapper {
    position : relative;
    width    : 100%;
}

.list-box-search {
    width         : calc(100% - 10px);
    font-size     : 14px;
    margin-bottom : 12px;
    border        : var(--global-border-width) solid var(--input-border-default);
    border-radius : calc((var(--input-border-radius-default)) - 4px) !important;
    font-family   : var(--paragraph-font);
    color         : var(--input-text-default);
    padding       : 2px 32px 2px 2px;
}

[data-list-box] .options-wrapper {
    display         : flex;
    justify-content : space-between;
    margin-right    : 8px;

    &:has(.options-limit-warning) {
        flex-direction : column;
    }

    .options-limit-warning {
        margin-top    : 4px;
        margin-bottom : -6px;
        color         : var(--red-dark20) !important;
    }
}

[data-list-box] .options-list {
    display       : flex;
    flex-wrap     : wrap;
    gap           : 8px;
    max-width     : 100%;
    align-items   : center;
    margin-top    : -4px;
    margin-bottom : -4px;

    [data-badge] {
        background-color : var(--list-box-badge-bg);
        border           : var(--list-box-badge-border);

        p { color : var(--list-box-badge-text); }
    }
}

.clear-all-button {
    font-size : 20px;
    color     : var(--select-chevron);
    cursor    : pointer;
}

.list-box-enter-key {
    position  : absolute;
    right     : 2px;
    top       : 40%;
    transform : translateY(-50%);
}

.list-box-dropdown {
    position         : absolute;
    top              : calc(100% + 12px);
    left             : 0;
    right            : 0;
    background-color : var(--list-box-dropdown-bg);
    border           : var(--global-border-width) solid var(--input-border-default);
    border-radius    : var(--input-border-radius-default);
    padding          : 4px;
    z-index          : 1000;
}

.list-box-options {
    list-style : none;
    padding    : 0;
    margin     : 0;
    max-height : 240px;
    overflow-y : auto;
}

.list-box-option {
    padding       : 5px 10px;
    cursor        : pointer;
    border-radius : calc(var(--input-border-radius-default) - 2px);
    font-family   : var(--paragraph-font);
    color         : var(--input-text-default);
}

.list-box-option.active,
.list-box-option:hover:not(.disabled),
.list-box-option:active:not(.disabled) {
    background-color : var(--list-box-bg-hover);
}

.list-box-option.disabled {
    color  : var(--list-box-text-disabled);
    cursor : not-allowed;
}

/* This is to negate the default form item spacing */
.list-box-dropdown > [data-form-item] { margin-bottom : 8px !important; }

.list-box-options > [data-form-item] { margin-bottom : 0 !important; }

.list-box-display:focus {
    outline        : 2px solid var(--list-box-focus-color);
    outline-offset : 2px;
}

.list-box-input:focus {
    outline        : 2px solid var(--list-box-focus-color);
    outline-offset : -2px;
}

/* DISABLED ///////////////////////////////////////////////////////////////// */
.list-box-wrapper.disabled {
    opacity        : 0.6;
    cursor         : not-allowed;
    pointer-events : none;
}

.list-box-wrapper.disabled .list-box-input-wrapper {
    background-color : var(--input-bg-disabled);
    border-color     : var(--input-border-disabled);
    cursor           : not-allowed;
}

.list-box-wrapper.disabled .icon-wrapper svg {
    opacity : 0.6;
}

[data-form-item].size-tiny {
    .list-box-input-wrapper {
        padding               : calc(var(--input-padding) * 0.4) 4px;
        grid-template-columns : 1fr 16px 16px;

        .icon-wrapper svg {
            width  : 10px;
            height : 10px;
        }
    }

    .list-box-option,
    .selected-option,
    .placeholder,
    .options-limit-warning {
        font-size   : calc(var(--paragraph-font-size) * 0.72);
        line-height : unset;
    }

    [data-badge] {
        padding : 1px 6px;
    }
}

[data-form-item].size-small {
    .list-box-input-wrapper {
        padding               : calc(var(--input-padding) * 0.6) 6px;
        grid-template-columns : 1fr 20px 20px;

        .icon-wrapper svg {
            width  : 12px;
            height : 12px;
        }
    }

    .list-box-option,
    .selected-option,
    .placeholder,
    .options-limit-warning {
        font-size   : calc(var(--paragraph-font-size) * 0.88);
        line-height : unset;
    }

    [data-badge] {
        padding : 2px 6px;
    }
}

[data-form-item].size-large {
    .list-box-input-wrapper {
        padding               : calc(var(--input-padding) * 1.4) 12px;
        grid-template-columns : 1fr 28px 28px;

        .icon-wrapper svg {
            width  : 20px;
            height : 20px;
        }
    }

    .list-box-option,
    .selected-option,
    .placeholder,
    .options-limit-warning {
        font-size   : calc(var(--paragraph-font-size) * 1.2);
        line-height : unset;
    }

    [data-badge] {
        padding : 4px 12px;
    }
}