[data-radio-button] {
    display      : inline-flex;
    margin-right : 24px;

    &:only-of-type { margin-right : 0; }

    input[type="radio"] {
        position : absolute;
        height   : 1px;
        width    : 1px;
        overflow : hidden;
        clip     : rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip     : rect(1px, 1px, 1px, 1px);
    }

    /* LABEL ================================================================ */
    label {
        display        : inline-block;
        position       : relative;
        font-family    : var(--paragraph-font);
        color          : var(--paragraph-text-colour);
        cursor         : pointer;
        vertical-align : middle;
        line-height    : 1.1;
        padding-left   : 24px;

        &::before,
        &::after {
            display    : inline-block;
            position   : absolute;
            content    : "";
            transition : all 0.1s ease-out;
        }
    }

    /* The grey outer circle ------------------------------------------------ */
    label::before {
        width         : 16px;
        height        : 16px;
        left          : 0;
        border-radius : 50%;
        background    : var(--radio-circle-bg-default);
    }

    /* The white inner circle ----------------------------------------------- */
    label::after {
        opacity       : 0;
        left          : 4px;
        top           : 4px;
        width         : 8px;
        height        : 8px;
        background    : var(--radio-button-dot);
        border-radius : 50%;
        box-shadow    : 0 2px 4px -2px hsla(0, 0%, 0%, 0.6);
    }

    &:hover label::before {
        background : var(--radio-circle-bg-hover);
    }
}

/* STATES =================================================================== */
[data-radio-button]:has(input[type="radio"]:checked) label::before {
    background : var(--radio-circle-bg-checked);
}

[data-radio-button]:has(input[type="radio"]:checked) label::after {
    opacity : 1;
}

[data-radio-button]:has(input[type="radio"]:focus) label::before {
    outline : solid 2px var(--radio-circle-bg-checked);
}

[data-radio-button]:has(input[type="radio"]:disabled) label {
    opacity        : 0.5;
    cursor         : not-allowed;
    pointer-events : none;
}

[data-radio-button]:has(input[type="radio"]:disabled) label::before {
    background : var(--radio-circle-bg-disabled);
}
