[data-radio-group] {
    display        : flex;
    flex-direction : row;
    gap            : 24px;
    flex-wrap      : wrap;
}

[data-radio-group].align-vertical {
    flex-direction : column;
}

[data-radio-group].equalise-width > [data-radio-button] {
    flex : 1 1;
}

