[data-sidebar-footer] {
    display          : grid;
    position         : sticky;
    width            : calc(100% + (2 * var(--sidebar-items-padding)));
    margin-inline    : calc(-1 * var(--sidebar-items-padding));
    align-self       : end;
    order            : 1;
    bottom           : 0;
    left             : 0;
    margin-top       : auto;
    background-color : var(--sidebar-footer-bg);
    border-top       : 1px solid var(--sidebar-footer-border-top);
}
