/* Using the Inter font family v4.0.0 */

/* SANS — INTER ============================================================= */
@font-face {
    font-family : "Inter";
    src         : url("inter/Inter-Regular.woff2") format("woff2");
    font-weight : 400;
    font-style  : normal;
}

@font-face {
    font-family : "Inter";
    src         : url("inter/Inter-Bold.woff2") format("woff2");
    font-weight : 700;
    font-style  : normal;
}

/* SERIF — FRAUNCES ========================================================= */
@font-face {
    font-family : "Mondwest";
    src         : url("mondwest/PPMondwest-Regular.woff") format("woff");
    font-weight : 400;
    font-style  : normal;
}

@font-face {
    font-family : "Mondwest";
    src         : url("mondwest/PPMondwest-Bold.woff") format("woff");
    font-weight : 600;
    font-style  : normal;
}

.font-fraunces { font-family : "Mondwest", serif; }

/* MONO — GEIST ============================================================= */
@font-face {
    font-family : "Geist Mono";
    src         : url("geist-mono/GeistMono-Regular.woff2") format("woff2");
    font-weight : 400;
    font-style  : normal;
}

@font-face {
    font-family : "Geist Mono";
    src         : url("geist-mono/GeistMono-Bold.woff2") format("woff2");
    font-weight : 700;
    font-style  : normal;
}
