[data-callout] {
    position      : relative;
    display       : block;
    word-break    : break-word;
    padding       : 16px 16px 16px calc(var(--callout-border-width) + 16px);
    border-radius : var(--global-border-radius);

    &::before {
        position      : absolute;
        top           : 4px;
        left          : 4px;
        height        : calc(100% - 8px);
        content       : "";
        width         : var(--callout-border-width);
        border-radius : calc(var(--callout-border-width) / 2);
    }

    &.info {
        background-color : var(--callout-info-bg);

        &::before { background-color : var(--callout-info-border); }
    }

    &.success {
        background-color : var(--callout-success-bg);

        &::before { background-color : var(--callout-success-border); }
    }

    &.warning {
        background-color : var(--callout-warning-bg);

        &::before { background-color : var(--callout-warning-border); }
    }

    &.error {
        background-color : var(--callout-error-bg);

        &::before { background-color : var(--callout-error-border); }
    }
}
