[data-select] {
    position      : relative;
    width         : max-content;
    border-radius : var(--input-border-radius-default);

    &::after {
        content        : "";
        display        : inline-block;
        position       : absolute;
        top            : 50%;
        right          : 12px;
        width          : 10px;
        height         : 10px;
        border-style   : solid;
        border-width   : 0 2px 2px 0;
        transform      : translateY(-50%) rotate(45deg);
        color          : var(--select-chevron);
        transition     : transform 0.2s linear;
        z-index        : 500;
        pointer-events : none;
    }

    &[disabled]::after {
        color : var(--input-text-read-only);
    }

    select {
        display          : flex;
        width            : 100%;
        height           : 100%;
        padding-top      : var(--input-padding);
        padding-right    : 36px;
        padding-bottom   : var(--input-padding);
        padding-left     : var(--input-padding);
        font-family      : var(--paragraph-font);
        color            : var(--input-text-default);
        background-color : var(--input-bg-default);
        border-radius    : var(--input-border-radius-default);
        align-items      : center;
        border           : var(--global-border-width) solid var(--input-border-default);

        &:focus {
            background-color : var(--input-bg-focus);
            border           : var(--global-border-width) solid var(--input-border-focus);
        }
    }
}

[data-form-item] {
    &.size-tiny {
        [data-select] {
            &::after {
                width  : 6px;
                height : 6px;
            }

            select {
                font-size      : calc(var(--paragraph-font-size) * 0.72);
                padding-top    : calc(var(--input-padding) * 0.4);
                padding-bottom : calc(var(--input-padding) * 0.4);
                padding-left   : calc(var(--input-padding) * 0.4);
            }
        }
    }

    &.size-small {
        [data-select] {
            &::after {
                width  : 8px;
                height : 8px;
            }

            select {
                font-size      : calc(var(--paragraph-font-size) * 0.88);
                padding-top    : calc(var(--input-padding) * 0.6);
                padding-bottom : calc(var(--input-padding) * 0.6);
                padding-left   : calc(var(--input-padding) * 0.6);
            }
        }
    }

    &.size-large [data-select] select {
        font-size      : calc(var(--paragraph-font-size) * 1.2);
        padding-top    : calc(var(--input-padding) * 1.4);
        padding-bottom : calc(var(--input-padding) * 1.4);
        padding-left   : calc(var(--input-padding) * 1.4);
    }
}