[data-toast-item] {
    display          : flex;
    width            : fit-content;
    border-radius    : var(--toast-border-radius);
    background-color : var(--toast-bg);
    color            : var(--toast-text);
    font-size        : 14px;
    line-height      : 1.4;
    transition       : all 0.4s;
    padding          : 8px 16px;

    &.dismissed {
        transform : translateY(-100%);
        opacity   : 0;
    }

    [data-toasts-wrapper].bottom &.dismissed {
        transform : translateY(100%);
    }
}
