[data-drawer] {
    transition             : all 0.4s ease-in-out;

    /* OVERLAY ============================================================== */
    .rest-of-page-overlay {
        visibility       : hidden;
        opacity          : 0;
        position         : fixed;
        top              : 0;
        left             : 0;
        width            : 100vw;
        height           : 100vh;
        z-index          : 50000;
        backdrop-filter  : blur(var(--drawer-overlay-blur));
        background-color : rgba(var(--drawer-overlay-bg), var(--drawer-overlay-opacity));
        transition       : all 0.4s ease-in-out;
    }

    .rest-of-page-overlay.visible {
        opacity    : 1;
        visibility : visible;
    }

    /* MAIN CONTENT ========================================================= */
    .drawer-content-wrapper {
        position         : fixed;
        transition       : all 0.4s ease-in-out;
        box-shadow       : 4px 0 24px -16px rgba(0, 0, 0, 0.92);
        z-index          : 100000;
        width            : 100%;
        border-radius    : var(--drawer-border-radius);
        border           : solid var(--drawer-border);
        border-width     : 1px;
        overflow-y       : auto; /* Enable vertical scrolling */
        overflow-x       : hidden; /* Prevent horizontal scrolling */
        display          : flex;
        flex-direction   : column;

        &.padding-all-nano { padding : 8px; }
        &.padding-all-micro { padding : 16px; }
        &.padding-all-tiny { padding : 24px; }
        &.padding-all-small { padding : 48px; }
        &.padding-all-medium { padding : 64px; }
        &.padding-all-large { padding : 80px; }
        &.padding-all-huge { padding : 96px; }

        &:not([class*="bg-"]) {
            background-color : var(--drawer-bg);
        }

        .drawer-inner-content {
            flex       : 1;
            overflow-y : auto;
            width      : 100%;
        }
    }

    /* POSITIONS ============================================================ */
    &.top .drawer-content-wrapper {
        top        : 0;
        left       : 0;
        transform  : translateY(-200%);
        max-height : 92vh;
        height     : auto;
        width      : 100%;
    }

    &.bottom .drawer-content-wrapper {
        bottom     : 0;
        left       : 0;
        transform  : translateY(200%);
        max-height : 92vh;
        height     : auto;
        width      : 100%;
    }

    &.left .drawer-content-wrapper {
        left      : 0;
        top       : 0;
        transform : translateX(-200%);
        max-width : 92vw;
        height    : 100vh;
        width     : fit-content;
    }

    &.right .drawer-content-wrapper {
        right     : 0;
        top       : 0;
        transform : translateX(200%);
        max-width : 92vw;
        height    : 100vh;
        width     : fit-content;
    }

    --drawer-width-tiny    : 8vw;
    --drawer-width-small   : 12vw;
    --drawer-width-medium  : 24vw;
    --drawer-width-large   : 32vw;
    --drawer-width-huge    : 48vw;

    --drawer-height-tiny   : 8vw;
    --drawer-height-small  : 12vw;
    --drawer-height-medium : 24vw;
    --drawer-height-large  : 32vw;
    --drawer-height-huge   : 48vw;

    /* SIZES ================================================================ */
    &.tiny.right .drawer-content-wrapper,
    &.tiny.left .drawer-content-wrapper { width : var(--drawer-width-tiny); }
    &.tiny.top .drawer-content-wrapper,
    &.tiny.bottom .drawer-content-wrapper { height : var(--drawer-height-tiny); }

    &.small.right .drawer-content-wrapper,
    &.small.left .drawer-content-wrapper { width : var(--drawer-width-small); }
    &.small.top .drawer-content-wrapper,
    &.small.bottom .drawer-content-wrapper { height : var(--drawer-height-small); }

    &.medium.right .drawer-content-wrapper,
    &.medium.left .drawer-content-wrapper { width : var(--drawer-width-medium); }
    &.medium.top .drawer-content-wrapper,
    &.medium.bottom .drawer-content-wrapper { height : var(--drawer-height-medium); }


    &.large.right .drawer-content-wrapper,
    &.large.left .drawer-content-wrapper { width : var(--drawer-width-large); }
    &.large.top .drawer-content-wrapper,
    &.large.bottom .drawer-content-wrapper { height : var(--drawer-height-large); }


    &.huge.right .drawer-content-wrapper,
    &.huge.left .drawer-content-wrapper { width : var(--drawer-width-huge); }
    &.huge.top .drawer-content-wrapper,
    &.huge.bottom .drawer-content-wrapper { height : var(--drawer-height-huge); }

    /* OPEN STATE =========================================================== */
    &.open.left .drawer-content-wrapper,
    &.open.right .drawer-content-wrapper { transform : translateX(0); }

    &.open.top .drawer-content-wrapper,
    &.open.bottom .drawer-content-wrapper { transform : translateY(0); }

    /* DISMISS BUTTON ======================================================= */
    & .drawer-dismiss-button {
        position         : fixed;
        display          : flex;
        width            : 32px;
        height           : 32px;
        background-color : var(--drawer-bg);
        z-index          : 200000; /* Higher than drawer content */
        color            : var(--drawer-dismiss-button);
        cursor           : pointer;
        place-content    : center;
        backdrop-filter  : blur(2px);
        border           : solid var(--drawer-border);
        border-width     : 1px 0 1px 1px;
        border-radius    : 50%;
        box-shadow       : -4px 0 4px -1px rgba(0, 0, 0, 8%);

        &::before {
            display            : grid;
            content            : "\00D7";
            place-self         : center;
            color              : var(--drawer-dismiss-button);
            -webkit-transition : all 0.2s;
            transition         : all 0.2s;
            cursor             : pointer;
            align-self         : center;
            text-align         : center;
            margin-bottom      : 5px;
            line-height        : 1;
            font-size          : 24px;
        }
    }

    &.top .drawer-dismiss-button,
    &.bottom .drawer-dismiss-button { right : 24px; }

    &.left .drawer-dismiss-button,
    &.right .drawer-dismiss-button { top : 24px; }

    &.top.tiny .drawer-dismiss-button { top : calc(var(--drawer-height-tiny) + 8px); }
    &.top.small .drawer-dismiss-button { top : calc(var(--drawer-height-small) + 8px); }
    &.top.medium .drawer-dismiss-button { top : calc(var(--drawer-height-medium) + 8px); }
    &.top.large .drawer-dismiss-button { top : calc(var(--drawer-height-large) + 8px); }
    &.top.huge .drawer-dismiss-button { top : calc(var(--drawer-height-huge) + 8px); }

    &.bottom.tiny .drawer-dismiss-button { bottom : calc(var(--drawer-height-tiny) + 8px); }
    &.bottom.small .drawer-dismiss-button { bottom : calc(var(--drawer-height-small) + 8px); }
    &.bottom.medium .drawer-dismiss-button { bottom : calc(var(--drawer-height-medium) + 8px); }
    &.bottom.large .drawer-dismiss-button { bottom : calc(var(--drawer-height-large) + 8px); }
    &.bottom.huge .drawer-dismiss-button { bottom : calc(var(--drawer-height-huge) + 8px); }

    &.left.tiny .drawer-dismiss-button { left : calc(var(--drawer-width-tiny) + 8px); }
    &.left.small .drawer-dismiss-button { left : calc(var(--drawer-width-small) + 8px); }
    &.left.medium .drawer-dismiss-button { left : calc(var(--drawer-width-medium) + 8px); }
    &.left.large .drawer-dismiss-button { left : calc(var(--drawer-width-large) + 8px); }
    &.left.huge .drawer-dismiss-button { left : calc(var(--drawer-width-huge) + 8px); }

    &.right.tiny .drawer-dismiss-button { right : calc(var(--drawer-width-tiny) + 8px); }
    &.right.small .drawer-dismiss-button { right : calc(var(--drawer-width-small) + 8px); }
    &.right.medium .drawer-dismiss-button { right : calc(var(--drawer-width-medium) + 8px); }
    &.right.large .drawer-dismiss-button { right : calc(var(--drawer-width-large) + 8px); }
    &.right.huge .drawer-dismiss-button { right : calc(var(--drawer-width-huge) + 8px); }
}
