[data-toasts-wrapper] {
    display : none;
}

[data-toasts-wrapper]:has([data-toast-item]) {
    position       : fixed;
    left           : 50%;
    transform      : translateX(-50%);
    display        : flex;
    flex-direction : column;
    width          : fit-content;
    z-index        : 5000000;
    padding        : 3vh;
    gap            : 1rem;

    &.top { top : 0; }

    &.bottom { bottom : 0; }
}
