[data-checkbox-group],
[data-switch-group] {
    display        : flex;
    flex-direction : row;
    gap            : 24px;
    flex-wrap      : wrap;
}

[data-checkbox-group].equalise-width > [data-checkbox],
[data-switch-group].equalise-width > [data-switch] {
    flex : 1 1;
}

[data-checkbox-group].align-vertical,
[data-switch-group].align-vertical {
    flex-direction : column;
}

[data-checkbox-group] [data-form-item],
[data-switch-group] [data-form-item] {
    width : fit-content;
}

[data-form-item]:has([data-checkbox-group]),
[data-form-item]:has([data-switch-group]) {
    flex-direction : column;
    align-items    : flex-start;
    gap            : 8px !important;
}

[data-form-item]:has([data-checkbox-group]) > label,
[data-form-item]:has([data-checkbox-group]) > label,
[data-form-item]:has([data-switch-group]) > label,
[data-form-item]:has([data-switch-group]) > label {
    padding-left : 0 !important;
}

[data-form-item]:has([data-checkbox-group]) > label::before,
[data-form-item]:has([data-checkbox-group]) > label::after,
[data-form-item]:has([data-switch-group]) > label::before,
[data-form-item]:has([data-switch-group]) > label::after,
[data-form-item]:has([data-checkbox-group]) > label::before,
[data-form-item]:has([data-checkbox-group]) > label::after,
[data-form-item]:has([data-switch-group]) > label::before,
[data-form-item]:has([data-switch-group]) > label::after {
    display : none !important;
}