[data-form-item]:has([data-switch]) {
    gap : 0;

    input[type="checkbox"] {
        position : absolute;
        height   : 1px;
        width    : 1px;
        overflow : hidden;
        clip     : rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip     : rect(1px, 1px, 1px, 1px);
    }

    label {
        display      : inline-flex;
        position     : relative;
        font-family  : var(--paragraph-font);
        color        : var(--paragraph-text-colour);
        cursor       : pointer;
        line-height  : 1;
        user-select  : none;
        padding-left : 44px;

        &::before,
        &::after {
            display    : inline-flex;
            content    : "";
            transition : all 0.1s ease-out;
        }
    }

    /* The grey stadium shape for the case ================================== */
    label::before {
        position      : absolute;
        top           : 50%;
        left          : 0;
        transform     : translateY(-50%);
        border-radius : 16px;
        margin-right  : 4px;
        background    : var(--switch-bg-default);
        width         : 36px;
        height        : 18px;
    }

    /* The white inner circle actuator ====================================== */
    label::after {
        position      : absolute;
        top           : 50%;
        transform     : translateY(-50%);
        display       : inline-block;
        background    : var(--switch-slider-bg-default);
        border-radius : 50%;
        box-shadow    : 0 2px 4px -2px hsla(0, 0%, 0%, 0.6);
        left          : 3px;
        width         : 12px;
        height        : 12px;
    }
}

[data-switch] {
    display        : inline-flex;
    flex-direction : row;
    align-items    : center;

    &:only-of-type {
        margin-right : 0;
    }
}

/* HOVER ==================================================================== */
[data-form-item]:has([data-switch]):has(> [data-input-wrapper] > input[type="checkbox"]:hover) > [data-label-wrapper] > label::before {
    background : var(--switch-bg-hover);
}

[data-form-item]:has([data-switch]):has(> [data-input-wrapper] > input[type="checkbox"]:hover) > [data-label-wrapper] > label::after {
    background : var(--switch-slider-bg-hover);
}

/* CHECKED ================================================================== */
[data-form-item]:has([data-switch]):has(> [data-input-wrapper] > input[type="checkbox"]:checked) > [data-label-wrapper] > label::before {
    background : var(--switch-bg-checked);
}

[data-form-item]:has([data-switch]):has(> [data-input-wrapper] > input[type="checkbox"]:checked) > [data-label-wrapper] > label::after {
    transform  : translateY(-50%) translateX(18px);
    background : var(--switch-slider-bg-checked);
}

/* SIZES ==================================================================== */
/* TINY --------------------------------------------------------------------- */
[data-form-item].size-tiny:has([data-switch]) label {
    padding-left : 24px;
}

[data-form-item].size-tiny:has([data-switch]) label::before {
    width  : 16px;
    height : 8px;
}

[data-form-item].size-tiny:has([data-switch]) label::after {
    width  : 6px;
    height : 6px;
    left   : 1px;
}

[data-form-item].size-tiny:has([data-switch]):has(> [data-input-wrapper] > input[type="checkbox"]:checked) > [data-label-wrapper] > label::after {
    transform : translateY(-50%) translateX(8px);
}

/* SMALL -------------------------------------------------------------------- */
[data-form-item].size-small:has([data-switch]) label {
    padding-left : 32px;
}

[data-form-item].size-small:has([data-switch]) label::before {
    width  : 24px;
    height : 12px;
}

[data-form-item].size-small:has([data-switch]) label::after {
    width  : 8px;
    height : 8px;
    left   : 2px;
}

[data-form-item].size-small:has([data-switch]):has(> [data-input-wrapper] > input[type="checkbox"]:checked) > [data-label-wrapper] > label::after {
    transform : translateY(-50%) translateX(12px);
}

/* LARGE -------------------------------------------------------------------- */
[data-form-item].size-large:has([data-switch]) label {
    padding-left : 56px;
}

[data-form-item].size-large:has([data-switch]) label::before {
    width  : 48px;
    height : 24px;
}

[data-form-item].size-large:has([data-switch]) label::after {
    width  : 18px;
    height : 18px;
    left   : 3px;
}

[data-form-item].size-large:has([data-switch]):has(> [data-input-wrapper] > input[type="checkbox"]:checked) > [data-label-wrapper] > label::after {
    transform : translateY(-50%) translateX(24px);
}

