[data-tabs] {
    nav {
        width       : 100%;
        display     : flex;
        align-items : center;
        background  : var(--tabs-bg);
    }

    &[data-align="centre"] nav,
    &[data-align="center"] nav { justify-content : center; }

    &[data-align="right"] nav { justify-content : flex-end; }

    nav {

        /* TAB LABELS ======================================================= */
        ul.tab-labels-list {
            margin      : 0;
            padding     : 0;
            display     : flex;
            align-items : center;
            gap         : 24px;

            li { list-style-type : none; }

            button {
                position         : relative;
                background-color : transparent;

                &:hover {
                    cursor : pointer;
                }

                &:focus-visible {
                    outline        : var(--global-focus-colour) solid 2px;
                    outline-offset : 2px;
                }
            }

            .tab-label {
                position      : relative;
                border-bottom : 2px solid transparent;
                color         : var(--tab-label-default);
            }

            li:not(:last-child) > .tab-label {
                margin-right : 24px;
                font-weight  : 400;
            }

            .tab-label:hover { color : var(--tab-label-hover); }

            .tab-label.is-active { color : var(--tab-label-active); }

            .tab-label.is-right-aligned {
                margin-left  : auto;
                margin-right : 0;
            }

            /* ACTIVE TAB INDICATOR ----------------------------------------- */
            .tab-button.is-active::after {
                display                 : block;
                position                : absolute;
                width                   : 100%;
                height                  : 3px;
                bottom                  : calc((var(--nano) * -1) - 1px);
                left                    : 0;
                content                 : "";
                border-top-left-radius  : 3px;
                border-top-right-radius : 3px;
                background-color        : var(--tab-border-active);
            }

            /* HAS ALERT BADGE ---------------------------------------------- */
            .tab-label.has-alert::before {
                position         : absolute;
                top              : -4px;
                right            : -8px;
                border           : 3px solid var(--tab-alert-badge-border);
                width            : 8px;
                height           : 8px;
                background-color : var(--tab-alert-badge-bg);
                border-radius    : 50%;
                content          : "";
            }

            p.disabled-navlink {
                color  : var(--tab-label-disabled);
                cursor : not-allowed;
            }
        }
    }

    /* TAB CONTENT ========================================================== */
    .tabs-content {
        opacity    : 1;
        transition : opacity 0.4s ease-in-out;

        &.exiting { opacity : 0; }
    }
}
