#home-page {
    scroll-behavior : smooth;

    #hero-card {
        height     : 480px;
        position   : relative;
        background : #f6e5d2;
        overflow   : hidden;

        > *:not(#hero-card-bg) {
            position : relative;
            z-index  : 10;
        }
    }

    #hero-card-bg {
        background-image  : linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/images/hero-card-bg1.png");
        background-size   : cover;
        background-repeat : no-repeat;
        position          : absolute;
        inset             : 0;
        width             : 100%;
        height            : 100%;
    }

    /* DIFFERENCES ////////////////////////////////////////////////////////// */
    #differentiators-section {
        position : relative;
        overflow : hidden;
    }

    .differentiator-card {
        min-height      : 240px;
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        background      : linear-gradient(0deg, var(--blue-light90) 24%, var(--blue-light70) 80%);

        svg {
            width : 48px;
            fill  : var(--blue);
        }
    }

    /* USP SECTION ////////////////////////////////////////////////////////// */
    #usp-section {
        position : relative;
        overflow : hidden;

        @media screen and (max-width : 600px) {
            [data-row] { gap : 12px 4px; }
        }
    }

    .usp-card {
        min-height      : 320px;
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
        background      : linear-gradient(135deg, var(--usp-card-gradient-top) 24%, var(--usp-card-gradient-bottom) 80%);
        border          : 1px solid var(--green-dark80);
    }

    /* COMPONENT GRID /////////////////////////////////////////////////////// */
    #component-grid {
        position : relative;
    }

    /* MANIFESTO-CARD /////////////////////////////////////////////////////// */
    #manifesto {
        position : relative;
        overflow : hidden;
    }

    #manifesto-section-bg {
        z-index          : -1;
        background-image : url("../assets/images/manifesto-bg.jpg");
        background-size  : cover;
        position         : absolute;
        top              : 50%;
        left             : 50%;
        width            : 400%;
        height           : 400%;
        animation        : slow-rotate 60s linear infinite;
        will-change      : transform;
    }

    .manifesto-card {
        position      : relative;
        min-width     : 100%;
        padding       : 2px;
        overflow      : hidden;
        height        : 320px;
        background    : linear-gradient(90deg, var(--blue-dark10), var(--indigo));
        border-radius : var(--micro);
        transform     : translateZ(0);
        box-shadow    : 0 0 0 1px var(--blue),
        0 112px 107px 0 color(display-p3 0.0745 0.0863 0.1765 / 0.27),
        0 56px 56px 0 color(display-p3 0.0745 0.0863 0.1765 / 0.21),
        0 32px 32px 0 color(display-p3 0.0745 0.0863 0.1765 / 0.18),
        0 24px 20px 0 color(display-p3 0.0745 0.0863 0.1765 / 0.15),
        0 16px 12px 0 color(display-p3 0.0745 0.0863 0.1765 / 0.14),
        0 8px 8px 0 color(display-p3 0.0745 0.0863 0.1765 / 0.12),
        0 6px 4px 0 color(display-p3 0.0745 0.0863 0.1765 / 0.09),
        0 2px 2px 0 color(display-p3 0.0745 0.0863 0.1765 / 0.06);

        svg {
            position        : absolute;
            bottom          : -48px;
            right           : 40px;
            height          : 120%;
            stroke          : var(--sky);
            fill            : none;
            opacity         : 0.32;
            z-index         : -1;
            stroke-linejoin : round;
            stroke-linecap  : round;
        }
    }

    .manifesto-card-content {
        position      : relative;
        z-index       : 1;
        padding       : 32px;
        height        : 100%;
        background    : linear-gradient(90deg, var(--blue-dark40), var(--blue-dark10));
        border-radius : var(--micro);
    }
}

@keyframes slow-rotate {
    from { transform : translate(-50%, -50%) rotate(0deg); }
    to { transform : translate(-50%, -50%) rotate(360deg); }
}
