[data-button] {
    position            : relative;
    cursor              : pointer;
    font-family         : var(--button-font), sans-serif;
    font-weight         : bold;
    font-size           : 92%;
    text-align          : center;
    text-decoration     : none;
    line-height         : 1;
    transition          : all 0.2s ease-in-out;
    background-position : center;
    user-select         : none;
}

/*To make sure a button's children don't style themselves like a d-bag*/
/*[data-button] > * { all : unset; }*/

[data-button]:active {
    box-shadow : none;
    opacity    : 0.72;
}

[data-button].is-loading::after {
    border             : 3px solid;
    border-top-color   : transparent;
    border-right-color : transparent;
}

/* Common disabled styles /////////////////////////////////////////////////// */
[data-button][disabled] {
    box-shadow     : none;
    user-select    : none;
    pointer-events : none;
    opacity        : 0.4;
    filter         : grayscale(100%);
    cursor         : not-allowed;
}


/* VARIANT COLOUR LAYER ///////////////////////////////////////////////////// */
[data-button]         { --btn-bg: var(--button-bg);         --btn-text: var(--button-text); }
[data-button].success { --btn-bg: var(--button-success-bg); --btn-text: var(--button-success-text); }
[data-button].warning { --btn-bg: var(--button-warning-bg); --btn-text: var(--button-warning-text); }
[data-button].danger  { --btn-bg: var(--button-danger-bg);  --btn-text: var(--button-danger-text); }


/* PRIMARY BUTTON /////////////////////////////////////////////////////////// */
[data-button].primary {
    font-family      : var(--button-primary-font, var(--button-font)), sans-serif;
    /* DEFAULT STATE ======================================================== */
    background-color : var(--button-primary-bg-default, var(--btn-bg));
    color            : var(--button-primary-text-default, var(--btn-text));
    border-color     : var(--button-primary-border-default, var(--btn-bg));
    border-style     : solid;
    border-width     : var(--button-primary-border-width-default, var(--button-border-width));
    border-radius    : var(--button-primary-border-radius-default, var(--button-border-radius));

    /* HOVER STATE ========================================================== */
    &:hover {
        background-color : var(--button-primary-bg-hover, color-mix(in oklch, var(--btn-bg), white 15%));
        color            : var(--button-primary-text-hover, var(--btn-text));
        border-color     : var(--button-primary-border-hover, color-mix(in oklch, var(--btn-bg), black 15%));
    }

    /* CLICKED STATE ======================================================== */
    &:active {
        background-color : var(--button-primary-bg-active, color-mix(in oklch, var(--btn-bg), white 25%));
        color            : var(--button-primary-text-active, var(--btn-text));
        border-color     : var(--button-primary-border-active, color-mix(in oklch, var(--btn-bg), black 25%));
    }

    /* LOADING STATE ======================================================== */
    &.is-loading::after {
        border             : 3px solid var(--button-primary-spinner-loading, var(--btn-text));
        border-top-color   : transparent;
        border-right-color : transparent;
    }
}

/* SECONDARY BUTTON ///////////////////////////////////////////////////////// */
[data-button].secondary {
    font-family      : var(--button-secondary-font, var(--button-font)), sans-serif;

    /* DEFAULT STATE ======================================================== */
    background-color : var(--button-secondary-bg-default, color-mix(in oklch, var(--btn-bg), white var(--button-lightness-difference)));
    color            : var(--button-secondary-text-default, var(--btn-bg));
    border-color     : var(--button-secondary-border-default, color-mix(in oklch, var(--btn-bg), white var(--button-lightness-difference)));
    border-style     : solid;
    border-width     : var(--button-secondary-border-width-default, var(--button-border-width));
    border-radius    : var(--button-secondary-border-radius-default, var(--button-border-radius));

    /* HOVER STATE ========================================================== */
    &:hover {
        background-color : var(--button-secondary-bg-hover, color-mix(in oklch, var(--btn-bg), white calc(var(--button-lightness-difference) - 10%)));
        color            : var(--button-secondary-text-hover, var(--btn-bg));
        border-color     : var(--button-secondary-border-hover, color-mix(in oklch, var(--btn-bg), white calc(var(--button-lightness-difference) - 10%)));
    }

    /* CLICKED STATE ======================================================== */
    &:active {
        background-color : var(--button-secondary-bg-active, color-mix(in oklch, var(--btn-bg), white calc(var(--button-lightness-difference) - 5%)));
        color            : var(--button-secondary-text-active, var(--btn-bg));
        border-color     : var(--button-secondary-border-active, color-mix(in oklch, var(--btn-bg), white calc(var(--button-lightness-difference) - 5%)));
    }

    /* LOADING STATE ======================================================== */
    &.is-loading::after {
        border             : 3px solid var(--button-secondary-spinner-loading, var(--btn-bg));
        border-top-color   : transparent;
        border-right-color : transparent;
    }
}

/* TERTIARY BUTTON ////////////////////////////////////////////////////////// */
[data-button].tertiary {
    font-family      : var(--button-tertiary-font, var(--button-font)), sans-serif;

    /* DEFAULT STATE ======================================================== */
    background-color : var(--button-tertiary-bg-default, transparent);
    color            : var(--button-tertiary-text-default, var(--btn-bg));
    border-color     : var(--button-tertiary-border-default, var(--btn-bg));
    border-style     : solid;
    border-width     : var(--button-tertiary-border-width-default, var(--button-border-width));
    border-radius    : var(--button-tertiary-border-radius-default, var(--button-border-radius));

    /* HOVER STATE ========================================================== */
    &:hover {
        background-color : var(--button-tertiary-bg-hover, color-mix(in oklch, var(--btn-bg), transparent 90%));
        color            : var(--button-tertiary-text-hover, var(--btn-bg));
        border-color     : var(--button-tertiary-border-hover, color-mix(in oklch, var(--btn-bg), white 15%));
    }

    /* CLICKED STATE ======================================================== */
    &:active {
        background-color : var(--button-tertiary-bg-active, color-mix(in oklch, var(--btn-bg), transparent 85%));
        color            : var(--button-tertiary-text-active, var(--btn-bg));
        border-color     : var(--button-tertiary-border-active, color-mix(in oklch, var(--btn-bg), white 25%));
    }

    /* LOADING STATE ======================================================== */
    &.is-loading::after {
        border             : 3px solid var(--button-tertiary-spinner-loading, var(--btn-bg));
        border-top-color   : transparent;
        border-right-color : transparent;
    }
}

/* DIFFERENT SIZES ////////////////////////////////////////////////////////// */
/* Default size */
[data-button]:not([class*="padding-"]) {
    padding : 12px 24px;
}

[data-button].size-nano {
    padding   : 1px 2px;
    font-size : 48%;
}

[data-button].size-micro {
    padding   : 2px 4px;
    font-size : 56%;
}

[data-button].size-tiny {
    padding   : 4px 8px;
    font-size : 64%;
}

[data-button].size-small {
    padding   : 8px 16px;
    font-size : 80%;
}

[data-button].size-large {
    padding   : 16px 32px;
    font-size : 128%;
}

[data-button].size-huge {
    padding   : 24px 40px;
    font-size : 160%;
}

/* DIFFERENT SHAPES ///////////////////////////////////////////////////////// */
[data-button].shape-rounded {
    border-radius : var(--global-border-radius);
}

[data-button].shape-curved {
    border-radius : 50000px;
}

/* ROUND BUTTON ///////////////////////////////////////////////////////////// */
[data-button].shape-circular {
    width         : var(--button-round-size-medium);
    height        : var(--button-round-size-medium);
    padding       : 0 !important;
    border-radius : 50%;
    font-size     : 16px;
}

[data-button].shape-circular.size-tiny {
    width     : var(--button-round-size-tiny);
    height    : var(--button-round-size-tiny);
    padding   : 0;
    font-size : 8px;
}

[data-button].shape-circular.size-small {
    width     : var(--button-round-size-small);
    height    : var(--button-round-size-small);
    padding   : 0;
    font-size : 12px;
}

[data-button].shape-circular.size-large {
    width     : var(--button-round-size-large);
    height    : var(--button-round-size-large);
    padding   : 0;
    font-size : 24px;
}

[data-button].shape-circular.size-huge {
    width     : var(--button-round-size-huge);
    height    : var(--button-round-size-huge);
    padding   : 0;
    font-size : 32px;
}

[data-button].shape-circular img {
    position : absolute;
    margin   : auto;
    left     : 0;
    top      : 0;
    bottom   : 0;
    right    : 0;
}

/* BUTTON WITH SPINNER ////////////////////////////////////////////////////// */
[data-button].is-loading {
    color          : transparent !important;
    box-shadow     : none;
    user-select    : none;
    pointer-events : none;
}

[data-button].is-loading::after {
    display            : block;
    position           : absolute;
    margin             : auto;
    left               : 0;
    top                : 0;
    bottom             : 0;
    right              : 0;
    height             : 16px;
    width              : 16px;
    border-radius      : 50%;
    content            : "";
    border             : 3px solid;
    border-color       : var(--btn-text);
    border-top-color   : transparent;
    border-right-color : transparent;
    -webkit-animation  : spinner 0.4s infinite linear;
    animation          : spinner 0.4s infinite linear;
}

[data-button].size-nano.is-loading::after,
[data-button].size-micro.is-loading::after {
    height : 6px;
    width  : 6px;
}

[data-button].size-tiny.is-loading::after,
[data-button].size-small.is-loading::after {
    height : 8px;
    width  : 8px;
}

@keyframes spinner {
    from { transform : rotate(0deg); }
    to { transform : rotate(359deg); }
}
