[data-badge] {
    position            : relative;
    font-family         : var(--badge-font);
    font-size           : 92%;
    text-decoration     : none;
    transition          : all 0.2s ease-in-out;
    background-position : center;
    user-select         : none;
    width               : fit-content;
    height              : fit-content;
    display             : flex;
    align-items         : center;
    background-color    : var(--badge-bg);
    color               : var(--badge-text);
    border-color        : var(--badge-border);
    border-style        : solid;
    border-width        : var(--badge-border-width);

    /* To make sure a badge’s children don’t style themselves like a d-bag*/
    & > * { all : unset; }

    &.shape-rounded { border-radius : var(--badge-border-radius); }
    &.shape-curved { border-radius : 5000px; }

    &.border-none { border-width : 0 !important; }

    & .badge-dismiss-button {
        position    : relative;
        margin-left : 8px;
        font-size   : 1.4rem;
        cursor      : pointer;
        line-height : 1;
        top         : -1px;
        font-weight : 400;

        &:hover {
            transform  : scale(1.1);
            transition : all 0.1s;
        }

        &:active {
            transform : scale(0.9);
        }
    }

    /* DIFFERENT SIZES ////////////////////////////////////////////////////// */
    &.size-nano {
        padding   : 0.16em 1.2em;
        font-size : 0.4rem;
    }

    &.size-micro {
        padding   : 0.16em 1.2em;
        font-size : 0.48rem;
    }

    &.size-tiny {
        padding   : 0.16em 1.2em;
        font-size : 0.56rem;
    }

    &.size-small {
        padding   : 0.16em 1.2em;
        font-size : 0.64rem;
    }

    &.size-medium {
        padding   : 0.16em 1.2em;
        font-size : 0.8rem;
    }

    &.size-large {
        padding   : 0.16em 1.2em;
        font-size : 0.96rem;
    }

    &.size-huge {
        padding   : 0.16em 1.2em;
        font-size : 1.12rem;
    }

    &.size-nano .badge-dismiss-button,
    &.size-micro .badge-dismiss-button,
    &.size-tiny .badge-dismiss-button,
    &.size-small .badge-dismiss-button {
        font-size : 0.9rem;
    }
}
