[data-badge] {
    position              : relative;
    display               : grid;
    grid-template-columns : 1fr;
    align-items           : center;
    width                 : fit-content;
    height                : fit-content;
    font-family           : var(--badge-font);
    font-size             : 92%;
    text-decoration       : none;
    transition            : all 0.2s ease-in-out;
    background-position   : center;
    user-select           : none;
    background-color      : var(--badge-bg);
    color                 : var(--badge-text);
    border-color          : var(--badge-border);
    border-style          : solid;
    border-width          : var(--badge-border-width);
    padding-block         : 0.16em;
    padding-inline        : 0.8em;

    &.shape-rounded { border-radius : var(--badge-border-radius); }
    &.shape-curved { border-radius : 5000px; }

    &.border-none { border-width : 0 !important; }

    /* DIFFERENT SIZES ////////////////////////////////////////////////////// */
    &.size-nano p { font-size : 0.4rem; }
    &.size-micro p { font-size : 0.48rem; }
    &.size-tiny p { font-size : 0.56rem; }
    &.size-small p { font-size : 0.64rem; }
    &.size-medium p { font-size : 0.8rem; }
    &.size-large p { font-size : 0.96rem; }
    &.size-huge p { font-size : 1.12rem; }
}

/* WITH ACTION BUTTON /////////////////////////////////////////////////////// */
[data-badge][data-has-action] {
    grid-template-columns : 1fr auto;
    gap                   : var(--nano);
    padding-right         : 0;

    & .badge-action-button {
        all              : unset;
        display          : flex;
        align-items      : center;
        justify-content  : center;
        aspect-ratio     : 1;
        align-self       : stretch;
        cursor           : pointer;
        background-color : var(--badge-action-bg);
        color            : var(--badge-action-text);
        transition       : all 0.1s ease-in-out;
        margin-right     : 2px;

        & svg {
            width        : 1em;
            height       : calc(100% - 4px);
            stroke       : currentColor;
            stroke-width : 2;
            fill         : none;
        }

        &:hover {
            background-color : var(--badge-action-bg-hover);
            color            : var(--badge-action-text-hover);
        }

        &:active {
            transform : scale(0.95);
        }
    }

    &.size-nano .badge-action-button,
    &.size-micro .badge-action-button,
    &.size-tiny .badge-action-button {
        margin-right : 1px;
    }

    &.shape-rounded .badge-action-button {
        border-radius : calc(var(--badge-border-radius) - 2px);
    }

    &.shape-curved .badge-action-button {
        border-radius : 50%;
    }
}
