#intro-code {
    position: relative;

    #viz-row-wrapper {
        position : relative;
        height   : fit-content;
    }

    #viz-row {
        position    : absolute;
        top         : 0;
        left        : 0;
        width       : 100%;
        height      : 100%;
        user-select : none;

        [data-portion] {
            background-color : color-mix(in oklch, var(--red-light70) 40%, transparent);

            p {
                opacity    : 1;
                color      : var(--paragraph-text-colour);
                font-size  : 0.64rem;
                margin-top : -20px;
            }
        }
    }

    .portion-width-indicator {
        position         : absolute;
        bottom           : 0;
        right            : 12px;
        background-color : red;
        border-radius    : 4px 4px 0 0;
        padding          : 0 8px;
        color            : white;
        font-size        : 0.8rem;
    }

    .demo-portion {
        position : relative;
    }
}

